<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dieselEngine" class="com.example.springboot.DieselEngine"/>

    <bean id="BMWM3" class="com.example.springboot.BMWM3">
        <constructor-arg name="engine" ref="dieselEngine"/>
        <constructor-arg name="carName" value="M5"/>
        <constructor-arg name="features" >
            <list>
                <value>Sunroof</value>
                <value>Turbo Charged</value>
                <value>Auto Park</value>
            </list>
        </constructor-arg>
        <constructor-arg name="modelPricing" >
            <map>
                <entry key="m1" value="60000"/>
                <entry key="m3" value="70000"/>
                <entry key="m2" value="80000"/>
            </map>
        </constructor-arg>

    </bean>

</beans>